.container {
    max-width: 30%;
    padding: 4%;
    color: #fff;
    border-radius: 4px;
    background: #2c3e50;
}


/* Set core root defaults */
html {
    scroll-behavior: smooth;
}

/* Box sizing rules */
/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 400;
    color: #2c3e50;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

h2 {
    font-size: 1.65rem;
    padding-bottom: 0.3rem;
    font-weight: 500;
    line-height: 1.4;
}

button,
textarea {
    font: inherit;
}

.btn {
    color: #0077ff;
    position: relative;
    place-content: center;
    place-items: center;
    width: fit-content;
    border-radius: 99px;
    letter-spacing: 0.05em;
    border: 1px solid #0077ff;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 10px;
    margin-top: 1rem;
    padding: 0.1rem 1rem;
    white-space: nowrap;
    outline: none;
    background: #fff;
    transition: all 0.22s;
    box-shadow: 2px 2px 3px #606266;
}

.btn:disabled {
    cursor: not-allowed;
    opacity: 1 !important;
    background: #eee !important;
    border-color: #ddd !important;
    color: #999 !important;
}
