@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

body {
    font-family: 'Pangolin', cursive;
    background: darkgray;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 30%;
    padding: 1%;
    background: #fff;
    border-radius: 4px;

}
